h1 {
    color : teal;
    font-weight : 50px;
    font-family: 'Courier New', Courier, monospace;
    margin: 30px;
    padding: 30px;
}

p,h2{
    color:red;
    text-align : "center"
}


.header{
   background-color: orange;
   display : flex;
   justify-content: space-between;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

body{
    background-color: #ffd000
}

a:link {
   color : white;
   
}

a:visited{
    color : green
}

.menu{
    margin-right: 30px;
    margin-top: 50px;
}

.menu a{
    padding-right: 15px;
    padding-top:50px;
}

.item{
    position: relative;
}

.item p{
    position : absolute;
    top : 25%;
    left : 50%;
    transform : translate(-50%,-50%);
    opacity : 0
}

.item:hover p{
    opacity: 1; 
}

.item:hover img{
    opacity: 0.3;
}